In [2]:
import pandas as pd

In [12]:
df = pd.read_csv("/payette_streamflow.txt", sep='\t', header=None)

In [27]:
payette_df = df.drop(columns=[0,1, 4,5,6,7,8,9,10])

In [28]:
payette_df.rename(columns={0: "x", 1: "y"})

                2    3
0      1987-01-01  272
1      1987-01-02  290
2      1987-01-03  296
3      1987-01-04  291
4      1987-01-05  282
...           ...  ...
12293  2020-08-28  408
12294  2020-08-29  398
12295  2020-08-30  391
12296  2020-08-31  394
12297  2020-09-01  399

[12298 rows x 2 columns]

In [32]:
features_df = pd.read_csv("/climate_data_payette.csv", error_bad_lines=False)

b'Skipping line 38610: expected 24 fields, saw 41\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3,4,7,8,12,14,16,18,20,23) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
print(features_df)

           STATION                  NAME  ... WSFI WSFI_ATTRIBUTES
0      USS0015E09S   JACKSON PEAK, ID US  ...  NaN             NaN
1      USS0015E09S   JACKSON PEAK, ID US  ...  NaN             NaN
2      USS0015E09S   JACKSON PEAK, ID US  ...  NaN             NaN
3      USS0015E09S   JACKSON PEAK, ID US  ...  NaN             NaN
4      USS0015E09S   JACKSON PEAK, ID US  ...  NaN             NaN
...            ...                   ...  ...  ...             ...
67107  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN
67108  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN
67109  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN
67110  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN
67111  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN

[67112 rows x 24 columns]

In [34]:
features_df

           STATION                  NAME  ... WSFI WSFI_ATTRIBUTES
0      USS0015E09S   JACKSON PEAK, ID US  ...  NaN             NaN
1      USS0015E09S   JACKSON PEAK, ID US  ...  NaN             NaN
2      USS0015E09S   JACKSON PEAK, ID US  ...  NaN             NaN
3      USS0015E09S   JACKSON PEAK, ID US  ...  NaN             NaN
4      USS0015E09S   JACKSON PEAK, ID US  ...  NaN             NaN
...            ...                   ...  ...  ...             ...
67107  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN
67108  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN
67109  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN
67110  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN
67111  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN

[67112 rows x 24 columns]

In [ ]:
## Let's just use Banner Summit for simplicity's sake

In [36]:
banner_df = features_df[features_df['NAME']=='BANNER SUMMIT, ID US']

In [37]:
banner_df

           STATION                  NAME  ... WSFI WSFI_ATTRIBUTES
37340  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN
37341  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN
37342  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN
37343  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN
37344  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN
...            ...                   ...  ...  ...             ...
67107  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN
67108  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN
67109  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN
67110  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN
67111  USS0015E11S  BANNER SUMMIT, ID US  ...  NaN             NaN

[24589 rows x 24 columns]

In [40]:
banner_df.isnull().sum()

STATION                0
NAME                   0
LATITUDE               0
LONGITUDE              0
ELEVATION              0
DATE                   0
AWND               24589
AWND_ATTRIBUTES    24589
PRCP                   4
PRCP_ATTRIBUTES        4
SNWD               10277
SNWD_ATTRIBUTES    10277
TAVG                1054
TAVG_ATTRIBUTES     1054
TMAX                1052
TMAX_ATTRIBUTES     1052
TMIN                1070
TMIN_ATTRIBUTES     1070
TOBS                 151
TOBS_ATTRIBUTES      151
WESD                   9
WESD_ATTRIBUTES        9
WSFI               24589
WSFI_ATTRIBUTES    24589
dtype: int64

In [ ]:
## to do:
'''
clean the banner_df, remove attributes with null values
merge the banner_df and the streamflow df

try a simple linear regression to predict streamflow
try a random forest to predict streamflow
try a simple neural network to predict streamflow

export the model so I can deploy it to heroku

'''